@page "/products"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@attribute [Authorize(Roles = "Admin")]

<h3>IndexProduct</h3>

@if (ProductModels == null)
{
    <p>Loading ...</p>
}
else
{
    <a class="btn btn-primary" href="/products/create" >Create</a>
    <table class="table">
        <thead>
            <tr>
                <th>Product name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in ProductModels)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.Quantity</td>
                    <td>@product.Price</td>
                    <td>@product.Description</td>
                    <td>@product.CreateAt.ToShortDateString()</td>
                    <td>
                        <a class="btn btn-secondary" href="/products/update/@product.Id" >Update</a>
                        <AuthorizeView Roles="Admin">
                            <Authorized>
                                <button class="btn btn-danger" @onclick="() => { DeleteId = product.Id; Modal.Open(); }">Delete</button>
                            </Authorized>
                        </AuthorizeView>
                    </td>
                </tr>
            }
        </tbody>
    </table>    

    <AppModal @ref="Modal" >
        <Title>Notification</Title>
        <Body>
            Are you sure, you want to delete this product?
        </Body>
        <Footer>
            <button type="button" class="btn btn-primary" style="width:80px" @onclick="HandleDeleteAsync" >Yes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Modal.Close()" >Cancel</button>
        </Footer>
    </AppModal>
}
